* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0dedea8;
    
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

   /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    /* position: fixed; */
    width: 100%;
    background-color: #00b61200;
    color: #fff;
   }

   .donate {
       background-color: #200303a8;
       padding: 7px;
       border-radius: 3px;
   }

   .nav-links a {
    color: rgb(0, 0, 0);
   }
   /* LOGO */
   .logo img {
       width: 60px;
       height: 50px;
       }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #00b613;
    border-radius: 5px;
    animation-duration: 0.5s;
    transition: all 0.5s ease-in-out;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: #00b613;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   .services:hover .dropdown {
    display: block;
   }
   

   /*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
     font-size: 24px;
     color: rgb(0, 0, 0);
    user-select: none;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:#0083ff;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   }            
    /* NAVBAR STYLING ENDS */

    /* HEADER STYLING STARTS */

    .section{
       width: 60%;
       margin: 0 auto;
       padding: 10px;
       background-color: rgb(255, 255, 255);
       text-align: center;
       margin-top: 10px;
       border-radius: 10px;
    }

    

    .blog h2{
        font-size: 2em;
        font-weight: normal;
        color: #000000;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
    }

     .blog img{
          margin-bottom: 20px;
     }

     .post_container{
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
     }

     .recent{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

     }

     .recent h1{
        font-size: 1.2em;
        font-weight: normal;
        color: #000000;  
        text-align: start;     
        margin-bottom: 20px;
     }

    
     .recent_post{
         max-width: 300px;
         padding: 10px;         
         min-height: 200px;
         background-color: #ffffff;
         box-shadow: 0px 0px 10px 0px #00000034;
     }
     
     .recent_post img{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
     }

    .recent_post h2{
        font-size: 1.2em;
        font-weight: normal;
        color: #000000;
        margin-bottom: 20px;
    }





    
    .pic-1{
        width: 80%;
        height: 500px;
        margin-bottom: 20px;    
        padding: 10px;
          background-image: url('https://static.wixstatic.com/media/eaac17_49119c40f2514ad7bc10aa1b775ce53a~mv2.jpg/v1/fill/w_336,h_234,al_c,lg_1,q_90/eaac17_49119c40f2514ad7bc10aa1b775ce53a~mv2.webp');
        background-size: cover;
        background-position: center;
    }

    .pic-2{
        width: 80%;
        height: 500px;
        margin-bottom: 20px;    
        padding: 10px;
          background-image: url('https://static.wixstatic.com/media/eaac17_8663a5aa24d54266a125b78167984249~mv2.png/v1/fill/w_336,h_336,al_c,lg_1,q_90/eaac17_8663a5aa24d54266a125b78167984249~mv2.webp');
        background-size: cover;
        background-position: center;
    }

    .pic-3{
        width: 80%;
        height: 500px;
        margin-bottom: 20px;    
        padding: 10px;
          background-image: url('https://static.wixstatic.com/media/eaac17_de7e26610cc446358f41bf85a5a64c62~mv2.jpg/v1/fill/w_740,h_469,al_c,q_90/eaac17_de7e26610cc446358f41bf85a5a64c62~mv2.webp');
        background-size: cover;
        background-position: center;
    }

    .pic-4{
        width: 80%;
        height: 500px;
        margin-bottom: 20px;    
        padding: 10px;
          background-image: url('https://static.wixstatic.com/media/eaac17_b7989a6fb5cb4555b52006738e669d3e~mv2.jpg/v1/fill/w_740,h_352,al_c,q_90/eaac17_b7989a6fb5cb4555b52006738e669d3e~mv2.webp');
        background-size: cover;
        background-position: center;
    }

    .pic-5{
        width: 80%;
        height: 500px;
        margin-bottom: 20px;    
        padding: 10px;
          background-image: url('https://static.wixstatic.com/media/eaac17_09b77802c6484a849ac2a5b8da6d023a~mv2.jpg/v1/fill/w_740,h_386,al_c,q_90/eaac17_09b77802c6484a849ac2a5b8da6d023a~mv2.webp');
        background-size: cover;
        background-position: center;
    }

    .pic-6{
        width: 80%;
        height: 500px;
        margin-bottom: 20px;    
        padding: 10px;
          background-image: url('https://static.wixstatic.com/media/eaac17_da5ee27c86d4443c9d08ceb00f62e6f8~mv2.jpg/v1/fill/w_628,h_706,al_c,q_90/eaac17_da5ee27c86d4443c9d08ceb00f62e6f8~mv2.webp');
        background-size: cover;
        background-position: center;
    }

    .pic-7{
        width: 80%;
        height: 500px;
        margin-bottom: 20px;    
        padding: 10px;
          background-image: url('https://static.wixstatic.com/media/eaac17_6f8c5833c37740a4a098502051e3b227~mv2.jpg/v1/fill/w_646,h_819,al_c,q_90/eaac17_6f8c5833c37740a4a098502051e3b227~mv2.webp');
        background-size: cover;
        background-position: center;
    }

    .pic-8{
        width: 80%;
        height: 500px;
        margin-bottom: 20px;    
        padding: 10px;
          background-image: url('https://static.wixstatic.com/media/eaac17_3e8d981ecb104a07b16ff72397a1c4ed~mv2.jpg/v1/fill/w_740,h_497,al_c,q_90/eaac17_3e8d981ecb104a07b16ff72397a1c4ed~mv2.webp');
        background-size: cover;
        background-position: center;
    }

    .pic-9{
        width: 80%;
        height: 500px;
        margin-bottom: 20px;    
        padding: 10px;
          background-image: url('https://static.wixstatic.com/media/eaac17_085bc5cdb3de41e792bbef48f295add7~mv2.jpg/v1/fill/w_740,h_506,al_c,q_90/eaac17_085bc5cdb3de41e792bbef48f295add7~mv2.webp');
        background-size: cover;
        background-position: center;
    }

    .pic-10{
        width: 80%;
        height: 500px;
        margin-bottom: 20px;    
        padding: 10px;
          background-image: url('https://static.wixstatic.com/media/eaac17_085bc5cdb3de41e792bbef48f295add7~mv2.jpg/v1/fill/w_740,h_506,al_c,q_90/eaac17_085bc5cdb3de41e792bbef48f295add7~mv2.webp');
        background-size: cover;
        background-position: center;
    }